<div id="<%= dom_id visitor %>">
  <p>
    <strong>Name:</strong>
    <%= visitor.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= visitor.email %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= visitor.username %>
  </p>

</div>
