<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
	<div>
		<h1>Articles</h1>
	</div>
	<ul>
	  <% @authors.each do |author| %>
	    <li>
	      <h2><%= author.name %></h2>
	    </li>

	    <li>
	    	<div class="description">
		    	<%= author.city %>
		    	<%= link_to "Open Author profile", author, class: "btn btn-primary"%>
	      </div>
	    </li> <br/>
	  <% end %>
	</ul>
	<%= link_to "New Author", new_author_path, class: "btn btn-primary" %>
</body>
</html>
