<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
</head>
<body style="background: white;">
  <%= render partial:"form", author: @author, cached:true%>
  <%#= render partial: "authors/form",:locale=>[:en], :formats=>[:haml], :variants=>[], :handlers=>[:haml]%>
  
  <div class="back">
  <%= link_to "Back", @author %>
  </div> 
</body>
</html>
