h1{
	background: lightgray;
}

ul {
	list-style: none;
	padding: 0!important;
}

a{
	text-decoration: none;
	padding: 5px 10px;
	margin: 5px;
	border: 0 solid black;
	background-color: skyblue;
	border-radius: 2px;
	color: white;
}

a:hover {
	background-color: slateblue;
}

input[type=submit] {
	text-decoration: none;
	padding: 5px 10px;
	margin: 20px 0;
	border: 0 solid black;
	background-color: skyblue;
	border-radius: 3px;
	color: white;
}

div.back {
	margin-top: 20px;
}

div.description{
	margin-left: 30px;
}

section.authentication {
	float: right;
}

section.authentication div {
	display: inline;
}

input[type=password] {
	width: 50%;
}

input[type=email] {
	width: 50%;
}

section.authentication p{
	display: inline;
}

.pagination-section {
	text-align: center;
}

.pagination-row{
	text-align: center;
}

.pagination {
	display: inline !important;
}

li {
	text-decoration: none;
}

.product-item {
	border: 1px solid black;
	border-radius: 4px ;
	padding: 10px;
	margin-left: 5px;
	margin-right: 5px;
}