<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="assets/mystyle.css">
	<title>Home</title>

</head>
<body>
	<div class="nav">
		<ul>
			<li><a href="/articles">Home</a></li>
			<li class="dropdown">
				<a href="javascript:void(0)" class="dropbtn">Company</a>
				<div class="dropdown-content">
					<a href="#footer">About Us</a>
				 	<a href="#footer">Contact Us</a>
			    </div>
			</li>
			<li class="right"><a href="#">Profile</a></li>
		</ul>
	</div>
	<div class="banner">
		<img src="https://www.w3schools.com/css/img_5terre.jpg" alt="Cinque Terre" width="600" height="400">
	</div>
	<h2 id="Title">Art <b style="color: red;">Gallery</b></h2>
	<div class="img-container">
		<div class="gallery">
  			<a target="_blank" href="https://www.w3schools.com/css/img_5terre.jpg">
    		<img src="https://www.w3schools.com/css/img_5terre.jpg" alt="Cinque Terre" width="600" height="400"></a>
  		<div class="desc">Add a description  here</div>
		</div>
		<div class="gallery">
			<a target="_blank" href="https://www.w3schools.com/css/img_forest.jpg">
			<img src="https://www.w3schools.com/css/img_forest.jpg" alt="" width="600" height="400"></a>
			<div class="desc">Add a description here</div>
		</div>
		<div class="gallery">
			<a target="_blank" href="https://www.w3schools.com/css/img_lights.jpg">
			<img src="https://www.w3schools.com/css/img_lights.jpg" alt="" width="600" height="400"></a>
			<div class="desc">Add a description here</div>
		</div>
		<div class="gallery">
			<a target="_blank" href="https://www.w3schools.com/css/img_mountains.jpg">
			<img src="https://www.w3schools.com/css/img_mountains.jpg" alt="" width="600" height="400"></a>
			<div class="desc">Add a description here</div>
		</div>	
		<div class="gallery">
  			<a target="_blank" href="https://www.w3schools.com/css/img_5terre.jpg">
    		<img src="https://www.w3schools.com/css/img_5terre.jpg" alt="Cinque Terre" width="600" height="400"></a>
  		<div class="desc">Add a description  here</div>
		</div>
		<div class="gallery">
			<a target="_blank" href="https://www.w3schools.com/css/img_forest.jpg">
			<img src="https://www.w3schools.com/css/img_forest.jpg" alt="" width="600" height="400"></a>
			<div class="desc">Add a description here</div>
		</div>
		<div class="gallery">
			<a target="_blank" href="https://www.w3schools.com/css/img_lights.jpg">
			<img src="https://www.w3schools.com/css/img_lights.jpg" alt="" width="600" height="400"></a>
			<div class="desc">Add a description here</div>
		</div>
		<div class="gallery">
			<a target="_blank" href="https://www.w3schools.com/css/img_mountains.jpg">
			<img src="https://www.w3schools.com/css/img_mountains.jpg" alt="" width="600" height="400"></a>
			<div class="desc">Add a description here</div>
		</div>	
	</div>
	<div style="clear: left;" class="footer" id="footer">
		<div class="row">
			<div class="column">
				<h2 style="text-align: left; margin-left: 30px;">Office Hours</h2>
			<table>
				<tr>
					<th>Weekdays</th>
					<th>Timings</th>
				</tr>
				<tr>
					<td>Monday</td>
					<td>10:00 AM to 7:00 PM</td>
				</tr>
				<tr>
					<td>Tuesday</td>
					<td>10:00 AM to 7:00 PM</td>
				</tr>
				<tr>
					<td>Wednesday</td>
					<td>10:00 AM to 7:00 PM</td>   
				</tr>
				<tr>
					<td>Thursday</td>
					<td>10:00 AM to 7:00 PM</td>
				</tr>
				<tr>
					<td>Friday</td>
					<td>10:00 AM to 7:00 PM</td>
				</tr>
				<tr>
					<td>Saturday</td>
					<td>Week Off</td>
				</tr>
				<tr>
					<td>Sunday</td>
					<td>Week Off</td>
				</tr>
			</table>
			</div>
			<div class="column">
				<h2>About Us</h2>
				<p>Hello, This is About us paragraph which indicates details of the page. If you want to reach out to us then you can send message through the contact us form. Thank you for visiting us!!!</p>
				<p> Hopefully this website helped you for what you're looking for. Please visit again..
			</div>
			<div class="column">
				<h2>Contact Us</h2>
			<form class="form">
				<input type="email" name="email" placeholder="Enter Your Email...">

				<textarea cols="10" rows="10" placeholder="Enter your Message...."></textarea>

				<input type="submit">
			</form>
			</div>
		</div>
	</div>
</body>
</html>